
body{
    background: rgb(198, 226, 119);
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 50px;
    background-size: cover;
    background-attachment: fixed;
}
#contenedor{
    
    /*margin: auto;*/
    padding: 100px 100px 100px 100px ;
    margin:auto ;
    width: 500px;
    border-radius: 7px;
    background: rgb(137, 223, 175);
    margin-top: 100px;
    padding: 3px;
    display: flex;
    justify-content: center;

}
label
{
    width:  100%;
}
input{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    
}
.enviar {
    
    
    border-radius: 4px;
   
    width: 89%;
    font-size: larger;
    padding: 10px;
    
    
}
.enviar :hover{
    border-color: aqua;
    outline: 0;
}
.sex .sex_p{
width: auto;
margin-top: 5px;
margin-bottom: 20px;
}
#registro{
    font-size: 15px;
    width: 89%;
    padding: 10px;
}